{{#if logged_in}}
<section class="cat">
  <div class="cat-details">
    <h3>{{cat.name}}</h3>
    {{!-- <img src="" alt="{{cat.description}}"> --}}
    <p>PHOTO</p>
    <p>Breed: {{cat.breed}}</p>
    <p>Age: {{cat.age}}</p>
    <p>{{cat.description}}</p>
    {{#if cat.adoptable}}
    <p>Currently available for adoption.</p>
    {{else}}
    <p>Adopted.</p>
    {{/if}}
  </div>
</section>
{{/if}}