{{#if logged_in}}
<section class="cat">
  <div class="cat-details">
    <h3>{{cat.name}}</h3>
    <img src="{{cat.photo}}" alt="cat"></p>
    <p>Breed: {{cat.breed}}</p>
    <p>Age: {{cat.age}}</p>
    <p>{{cat.description}}</p>
    <button class="btn btn-sm btn-danger" data-id="{{cat.id}}">DELETE</button>
  </div>
</section>
{{/if}}

<script src="/js/deleteCat.js"></script>