<section class="cat">
  <img src="" alt="{{cat.description}}">
  <div class="cat-details">
    <h3>{{cat.name}}</h3>
    <p>{{cat.breed}}</p>
    <p>{{cat.age}}</p>
    <p>{{cat.descirption}}</p>
    <p>Currently {{cat.adoptable}} at {{shelter.name}}</p>
  </div>
</section>