{{#if logged_in}}
<section id="cat-page">
  <div class="cat-details">
    <h3>{{cat.name}}</h3>
    <img src="{{cat.photo}}" alt="cat"></p>
    <div id = "cat-photo-caption">
    <p>Breed: {{cat.breed}}</p>
    <p>Age: {{cat.age}}</p>
    <p>{{cat.description}}</p>
    </div>
    <button class="btn" data-id="{{cat.id}}">With a New Family!</button>
  </div>
</section>
{{/if}}

<script src="/js/deleteCat.js"></script>